$color1: #007bff;
$color2: #6610f2;
$color3: #6f42c1;
$color4: #e83e8c;
$color5: #dc3545;

$body-color: #212529;
$body-bg: #EBEBEB;

$text-dark: #444649;
$text-light: #fff;

$hero-color: #243b55;

$link-hover: $color1;

$spacer: 1rem;
$border-radius: 5px;

$v-pad: 25px;
$h-pad: 15px;