@import "variables";

//Above the fold CSS to be inlined
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: $body-color;
    background-color: $body-bg;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: $spacer / 2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.heroScene {
    position: relative;
    color: white;
    background-color: $hero-color;
    //background: linear-gradient(rgb(165, 233, 233) 0%, rgb(100, 152, 197) 100%);
    //background: linear-gradient(#642B73, #C6426E); 
    //background: linear-gradient(#614385, #516395);
    background: linear-gradient(#141e30, $hero-color);
    height: 1024px;
    height: 100vh;
}

#canvas_loader {
    background-image: url("assets/img/with_clouds_50_tiny.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 300px;
    top: 0;
    pointer-events: none;

    &.contain
    {
        background-size: contain;
    }
}

.h_rhs {
    canvas {
        position: fixed;
        top: 0;
        left: 300px;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease-in;

        &.static {
            // Let the browser handle the scroll
            // because mobile scroll events are weird
            position: absolute
        }

        &.cshow {
            opacity: 1;
        }
    }
}

.h_lhs {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);

    h1 {
        font-size: 3em;
        margin: 0;
    }

    h2 {
        margin: 0;
        font-size: 2em;
    }

    .mywork {
        font-size: 1rem;
        padding: 0.75em 1.5em;
        margin-top: 1em;
        display: inline-block;
        border: 3px solid white;
        color: white;
        text-decoration: none;

        b {
            position: relative;
            left: 4px;
            top: 1px;
            font-size: 1.5em;
            line-height: 0.68%;
        }
    }
}

.highlight {
    background-color: $color5;
    padding: 0 5px;
    text-shadow: none;
}

#nav-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    ul {
        margin: 0;
        text-align: right
    }

    li {
        display: inline-block;

        a {
            color: white;
            text-decoration: none;
            padding: 25px;
            line-height: 75px;
        }
    }
}

.section-left {
    width: 50%;
    padding-right: 2em;
    float: left;
}

.section-right {
    width: 50%;
    padding-left: 2em;
    float: right;
}

.section {
    position: relative;
    padding: 25px;
}

.section-right:after,
.section-left:after {
    content: "";
    display: table;
    clear: both;
}

.pitch {
    background-color: $hero-color;
    color: $text-light;
    text-align: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.triangle {
    width: 100%;
    height: 50px;
    position: relative;

    svg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        fill: $hero-color;
    }
}

ul.inline {
    li {
        display: inline;
    }
}

@media only screen and (max-width: 1200px) {
    .h_lhs {
        text-shadow: 3px 3px 6px $hero-color;
        z-index: 2;
    }
}

@media only screen and (max-width: 768px) {
    .h_lhs {
        background-color: transparent;
        font-size: 0.75rem;
        top: 100px;
        left: 25px;
        transform: none;
    }
}

@media only screen and (max-width: 768px) and (min-height: 480px) {
    .h_rhs {
        canvas {
            left: 0;
            top: 100px;
        }
    }

    #canvas_loader {
        left: 0;
        top: 100px;
        background-position: cover !important;
        background-image: url("assets/img/no_clouds_tiny.png");
    }
}

@media only screen and (max-width: 480px) {
    .h_lhs {
        font-size: 0.5rem;

        .mywork {
            font-size: 0.75rem;
        }

    }

    #nav-header {
        font-size: 0.9rem;

        ul {
            padding: 0;
            text-align: center;
        }

        li {
            a {
                padding: 25px 10px;
                line-height: 75px;
            }
        }
    }

}