@import "variables";
@import "normalize";

a {
    color: $color1;
    text-decoration: none;
    outline: 0;

    &:hover {
        text-decoration: underline;
    }
}

.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

hr {
    border: none;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 1px white;
    margin: 20px 0;
    margin-bottom: 30px;
}

.section-light {
    color: $text-dark;
    font-size: 1rem;
}

.section-dark {
    background-color: $hero-color;
    color: $text-light;
}

.center {
    text-align: center;
}

.triangle.top {
    border-top: 1px solid $hero-color;
    margin-top: -2px;
}

.triangle.bot {
    border-bottom: 1px solid $hero-color;
    margin-bottom: -2px;
}

#canvas_loader.fullsize {
    background-image: url("/assets/img/with_clouds_tiny.png");

}
#nav-header {
    transition: background-color 0.4s ease;
    z-index: 3;

    &.nav-solid {
        position: fixed;
        background-color: $text-light;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

        a {
            color: #666;
            line-height: 50px;
        }
    }

    &.nav-transp {
        background-color: rgba(0, 0, 0, 0);
    }

    a {
        transition: color 0.2s ease, line-height 0.4s ease;
        font-size: 1em;

        &.active
        {
            transition: color 1s ease;
            color: $link-hover;
        }
    }

    a:hover {
        color: $link-hover;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.section_header {
    font-size: 2rem;
    position: relative;

}

.mywork {
    .spinme {
        display: inline-block;
        transition: transform 0.5s ease;
    }

    transition: background-color 0.5s ease,
    border-color 0.5s ease;

    &:hover {
        border-color: $color5;
        background-color: $color5;

        .spinme {
            transform: rotate(90deg) translateX(3px);
        }
    }
}

.work {
    margin: 50px 0;

    .img_container {
        position: relative;
        box-shadow: 0 16px 10px -11px rgba(0, 0, 0, .12);
        font-size: 0;
        margin-bottom: 1rem;
        overflow: hidden;

    }

    .the_img {
        border-radius: $border-radius;
        box-shadow: 5px 5px -5px 5px black;
        margin-left: -1px;
    }

    .title {
        font-size: 2rem;
        border-bottom: 1px solid #cbcbcb;
        box-shadow: 0 1px 0 white;
        text-shadow: 0 1px 0 white;
    }

    .subtitle {
        font-style: italic;
        margin-bottom: 10px;
    }

    .demo,
    .source {
        margin-top: $spacer;
        margin-right: 0.5em;
        display: inline-block;
        padding: 0.75em 1.25em;
        border-radius: $border-radius;
        border: 2px solid $color5;
        color: $color5;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75em;
        transition: background-color 0.5s ease, color 0.3s ease-out;

        &:hover {
            background-color: $color5;
            color: white;
        }
    }

    .source {
        border-color: #333;
        box-shadow: inset 0 0 0 1px #333;
        color: #333;

        &:hover {
            background-color: #333;
        }
    }

    .desc {
        font-size: 0.8rem;

        h4 {
            margin-bottom: -1em;
            margin-top: 1em;
        }

        ul {
            color: #555;
        }
    }
    
}
.more-work
{
    font-size: 0.8em;
    text-shadow: 0 1px white;
    text-align: center;
}

//MISC
.loveheart {
    color: $color4;
}

.pitch {
    .pitch-heading
    {
        font-size: 1.8em;
        margin-bottom: 1em;
    }
    h2 {
        text-align: center;
    }

    .about-text {
        margin: 0 auto;
        max-width: 800px;
        text-align: left;
        margin-bottom: 30px;
    }
}

.info-wrapper {
    color: $text-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-box {
    position: relative;
    flex: 1;
    background-color: #fff;
    color: $text-dark;
    flex: auto;
    max-width: 320px;
    text-align: center;
    padding: $v-pad $h-pad;
    flex-shrink: 0;
    margin-bottom: 100px;

    li {
        list-style: none;
    }

    ul.inline {
        li {
            white-space: nowrap;

            &:after {
                content: ",";
            }

            &:last-of-type {
                &:after {
                    content: "";
                }
            }
        }
    }

    &:first-of-type {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -$h-pad;
            bottom: 0;
            border-right: 1px solid #eee;
            z-index: 1;
        }
    }

    &:last-of-type {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

.contact_form {
    font-size: 0.8rem;
    max-width: 600px;
    text-align: left;
    margin: 100px auto;
    margin-bottom: 150px;

    input,
    textarea {
        outline: none;
        transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;

        &:hover {
            box-shadow: 0 0 0 1px inset #ccc;
        }

        &:focus {
            box-shadow: 0 0 0 1px inset transparentize($link-hover, 0.2);
        }
    }

    input[type='text'],
    input[type='email'],
    textarea {
        width: 100%;
        padding: 10px 10px;
        color: #2e3030;
        background-color: #fff;
        border-color: rgba(0, 0, 0, 0.08);
        border-radius: 2px;

        &.invalid {
            box-shadow: 0 0 0 1px inset red;
        }
    }

    .input_return {
        position: absolute;
        font-size: 0.8em;
        top: 2em;
        margin-top: 0.8em;
        padding: 2px 5px;
    }

    label {
        font-size: 1.2em;
        line-height: 2em;
    }

    .form-in {
        position: relative;
    }

    .form-l {
        padding-right: 5px;
    }

    .form-r {
        padding-left: 5px;
    }

    .form-l,
    .form-r {
        width: 50%;
        float: left;
    }

    input[type='submit'] {
        background-color: $color5;
        color: white;
        text-shadow: none;
        padding: 1em 2em;
        line-height: 1;
        border-radius: 2px;
        border-width: 0;
        margin-top: 1em;

        &:focus,
        &:hover {
            background-color: lighten($color5, 10);
            cursor: pointer;
        }

        &:disabled {
            display: none;
        }
    }

    .success {
        color: $color1
    }

    .failure {
        color: $color5
    }
}

.tech {
    font-size: 0.75rem;
    font-weight: bold;
    color: #999;
}

.footer {
    background-color: $hero-color;
    color: #ccc;
    text-align: center;
    font-size: 0.8em;

    .cnotice {
        line-height: 100px;

        .year {
            color: $color5;
        }
    }
}

.bot-buster {
    display: none;
}

//Sub Ipad
@media only screen and (max-width: 767px) {
    .info-box {
        margin-bottom: 0;
        border-bottom: 1px solid #eee;

        width: 100%;
        max-width: 500px;

        ul {
            padding: 0;
        }

        &:first-of-type {
            border-radius: 0;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            &:after {
                content: none;
            }
        }

        &:last-of-type {
            border-radius: 0;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            margin-bottom: 20px;
        }
    }
    .contact_form, .work .desc 
    {
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 480px) {

    .section-left,
    .section-right {
        float: none;
        width: 100%;
        padding: 1em 0;
    }
    .contact_form
    {
        margin: 50px 0;
    }
    .work
    {
        margin: 0;
        .title
        {
            margin: 0;
        }
    }
    hr
    {
        margin: 10px 0;
    }
}